VITE_SUPABASE_URL=https://eaalkyxtvzcgmrvkqhvh.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_hHcZecgUn0K8Rh62NajPaQ_0GqEg9Y0
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVhYWxreXh0dnpjZ21ydmtxaHZoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTQ0NzgxNCwiZXhwIjoyMDk3MDIzODE0fQ.dYn04z0xz022ISX0L52ZeOzvjvrWCIKrjRcBGU51f3Q
SUPABASE_DB_PASSWORD=QCZnjzwNctrnJYyn
DATABASE_URL=postgresql://postgres.eaalkyxtvzcgmrvkqhvh:QCZnjzwNctrnJYyn@aws-1-eu-central-2.pooler.supabase.com:5432/postgres
